.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
    position:sticky;
    top:0;
    z-index: 20;
    height: 80px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .home-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .profile-icon,
  .cart-icon {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
  }
  .cart-item-count {
    position: absolute;
    top: 5px;
    right:15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 15px;
  }